section {
      min-height: 420px;
    backdrop-color: #404749;
    }
    
    Img {
      backdrop-color: #7e989e;
      backdrop-filter: #404749;
    }
    body {
      background-color: lightblue;
    }
    p
    p1 {
      background-color: #00f2ff;
      height: 200;
    }
   
     background-color: #a1dba4;
   }